# ignored files / directories

/.gitignore

########################################

/01_Burgers/00_PINN/__pycache__/*
/01_Burgers/00_PINN/results/*
/01_Burgers/00_PINN/best_weights/*
/01_Burgers/00_PINN/saved_weights/*

/01_Burgers/01_MA_PINN/__pycache__/*
/01_Burgers/01_MA_PINN/results/*
/01_Burgers/01_MA_PINN/best_weights/*
/01_Burgers/01_MA_PINN/saved_weights/*

/01_Burgers/02_ID_PINN/__pycache__/*
/01_Burgers/02_ID_PINN/results/*
/01_Burgers/02_ID_PINN/best_weights/*
/01_Burgers/02_ID_PINN/saved_weights/*

/01_Burgers/03_DN_PINN/__pycache__/*
/01_Burgers/03_DN_PINN/results/*
/01_Burgers/03_DN_PINN/best_weights/*
/01_Burgers/03_DN_PINN/saved_weights/*

########################################

/02_Poisson/00_PINN/__pycache__/*
/02_Poisson/00_PINN/results/*
/02_Poisson/00_PINN/best_weights/*
/02_Poisson/00_PINN/saved_weights/*

/02_Poisson/01_MA_PINN/__pycache__/*
/02_Poisson/01_MA_PINN/results/*
/02_Poisson/01_MA_PINN/best_weights/*
/02_Poisson/01_MA_PINN/saved_weights/*

/02_Poisson/02_ID_PINN/__pycache__/*
/02_Poisson/02_ID_PINN/results/*
/02_Poisson/02_ID_PINN/best_weights/*
/02_Poisson/02_ID_PINN/saved_weights/*

/02_Poisson/03_DN_PINN/__pycache__/*
/02_Poisson/03_DN_PINN/results/*
/02_Poisson/03_DN_PINN/best_weights/*
/02_Poisson/03_DN_PINN/saved_weights/*

########################################

/03_AllenCahn/00_PINN/__pycache__/*
/03_AllenCahn/00_PINN/results/*
/03_AllenCahn/00_PINN/best_weights/*
/03_AllenCahn/00_PINN/saved_weights/*

/03_AllenCahn/01_MA_PINN/__pycache__/*
/03_AllenCahn/01_MA_PINN/results/*
/03_AllenCahn/01_MA_PINN/best_weights/*
/03_AllenCahn/01_MA_PINN/saved_weights/*

/03_AllenCahn/02_ID_PINN/__pycache__/*
/03_AllenCahn/02_ID_PINN/results/*
/03_AllenCahn/02_ID_PINN/best_weights/*
/03_AllenCahn/02_ID_PINN/saved_weights/*

/03_AllenCahn/03_DN_PINN/__pycache__/*
/03_AllenCahn/03_DN_PINN/results/*
/03_AllenCahn/03_DN_PINN/best_weights/*
/03_AllenCahn/03_DN_PINN/saved_weights/*

########################################
